<fieldset class="box">
  <legend><%= label_tag("organization_search", l(:label_organization_search)) %></legend>
  <p>
    <%= text_field_tag('filter-by-name', nil, {id: "filter-by-org-name", class: 'filter', placeholder: 'Filtrer par nom'}) %>
    <%= l("selected_organizations") %>:
    <span id="organization_selection_counter">0</span>
  </p>
  <div id="organizations_for_new_member">
    <%= render_organizations_for_new_members %>
  </div>
</fieldset>

<fieldset class="box">
  <legend><%= label_tag("users_selection", l(:label_users_selection)) %> - <%= link_to l("select_all"), '#', id: "link_select_all" %> / <%= link_to l("select_none"), '#', id: "link_select_none" %></legend>
  <div id="users_for_new_member">
  </div>
</fieldset>
<fieldset class="box">
  <legend><%= toggle_checkboxes_link('.roles-selection input') %><%= l(:label_role_plural) %></legend>
  <div class="roles-selection">
    <% User.current.managed_roles(@project).each do |role| %>
      <label><%= check_box_tag 'membership[role_ids][]', role.id, false, :id => nil %> <%= role %></label>
    <% end %>
  </div>
</fieldset>
