<div class="box">
  <% form_for(:organizations, :url => { :controller => 'organizations', :action => 'copy_user' }) do %>
  <%=l(:label_copy_organizations_and_involvements_from)%>
  #<%=text_field_tag 'copy[user_from]', '', :size=>"5", :style=>"width:3em;"%>
  <%= observe_field :copy_user_from, :frequency => 1, :update => :user, :with => 'q',
                    :url => {:controller => 'organizations', :action => 'autocomplete_user_from_id'} %>
  <span id="user"></span>
  <%=hidden_field_tag 'copy[user_to]', @user.id%>
  <br/>
  <%= submit_tag l(:button_copy) %>
  <% end %>
</div>
<% form_for(:user, :url => { :action => "edit", :id => @user, :tab => nil }, :html => {:method => :post}) do %>
<div class="box">
<% Organization.all(:order=>'lft').each do |organization| %>
  <p class="organization idnt <%= organization.level > 0 ? "idnt-#{organization.level}" : nil %>">
    <label>
      <%= radio_button_tag 'user[organization_id]', organization.id, @user.organization == organization %> 
      <%= h organization.name %>
    </label>
  </p>
<% end %>
<%= hidden_field_tag 'user[organization_id]', '' %>
</div>
<%= submit_tag l(:button_save) %>
<% end %>
