
<%= form_for @user, :url => { :controller => 'users', :action => "update", :tab => nil }, :html => { :method => :put, :class => nil } do |f| %>
  <div class="box">
    <h4><%= l :update_user_orga, username: @user %></h4>
    <%= f.select "organization_id", nested_set_options(Organization) { |i| i.fullname },
               { :include_blank => true },
               { :class => "orga-select2",
                 :onChange=>"javascript: update_users_from_orga();"} %>

    <p>
      <%= f.radio_button :orga_update_method, 'keep', checked: true %>
      <%= f.label :orga_update_method, l(:memberships_keep), :value => 'keep' %>
    </p>
    <p>
      <%= f.radio_button :orga_update_method, 'remove', disabled: true %>
      <%= f.label :orga_update_method, l(:memberships_remove), :value => 'remove' %>
    </p>
    <p>
      <%= f.radio_button :orga_update_method, 'replace', disabled: true %>
      <%= f.label :orga_update_method, l(:memberships_replace), :value => 'replace' %>
      <%= select_tag :copy_user,
                     options_for_select(User.sorted.active.where("organization_id = ? AND id != ?",
                                                                 @user.organization.id,
                                                                 @user.id)) %>
    </p>

  </div>
  <%= submit_tag l(:button_save) %>
<% end %>

<script>
  function update_users_from_orga(){
    $.post("fetch_users_by_orga.js", { orga_id: $('#user_organization_id').val() }, function() {

    });
  }
</script>
