
<%= form_for @user, :url => { :controller => 'users', :action => "update", :tab => nil }, :html => { :method => :put, :class => nil } do |f| %>
  <div class="box">
    <h4><%= l :update_user_org, username: @user %></h4>
    <%= f.select "organization_id", nested_set_options(Organization) { |i| i.fullname },
               { :include_blank => true },
               { :class => "org-select2",
                 :onChange=>"javascript: update_users_from_orga();"} %>

    <p>
      <%= f.radio_button :org_update_method, 'keep', checked: true %>
      <%= f.label :org_update_method, t(:memberships_keep), :value => 'keep' %>
    </p>
    <p>
      <%= f.radio_button :org_update_method, 'remove' %>
      <%= f.label :org_update_method, t(:memberships_remove), :value => 'remove' %>
    </p>
    <p>
      <%= f.radio_button :org_update_method, 'replace' %>
      <%= f.label :org_update_method, t(:memberships_replace), :value => 'replace' %>
      <%= select_tag :copy_user,
                     options_from_collection_for_select(User.sorted.active.where("organization_id = ? AND id != ?",
                                                                 @user.organization.try(:id),
                                                                 @user.id), :id, :name ) %>
    </p>

  </div>
  <%= submit_tag t(:button_save) %>
<% end %>

<script>
  function update_users_from_orga(){
    $.post("fetch_users_by_orga.js", { org_id: $('#user_organization_id').val() }, function() {});
  }
</script>
