<% unless @user.organization.blank? %>
  <h3><%= l(:label_organization) %></h3>
  <ul>
    <li>
      <%= link_to_organization @user.organization %>
      <%= "(#{@user.organization.description})" if @user.organization.description.present? %>
      <%= content_tag(:span, "Gestionnaire", :class => "badge manager-badge") if @user.organization.managers.include?(@user) %>
      <% if @user.organization.team_leaders.include?(@user) %>
        <%= content_tag(:span, "Chef d'équipe", :class => "badge team-leader-badge") %>
        <div style="margin-top: 10px;">
          <%= form_tag(assign_to_team_projects_organizations_team_leaders_path(user_id: @user.id), :method => :put, :remote => true) do %>
            <fieldset id="role_propagation_for_team_leaders">
              <legend><%= l(:role_propagation_for_team_leaders) %></legend>

              <p>
                Donne des droits de "gestionnaire local" à ce chef d'équipe, sur tous les projets dans lesquels au moins
                un agent de l'entité a déjà des droits.
              </p>

              <p><%= submit_tag l(:button_apply) %></p>
              <p class="response"></p>
            </fieldset>
          <% end if User.current.is_admin_or_manage?(@user.organization) || User.current == @user %>
        </div>
      <% end %>

      <div style="margin-top: 5px;">Gestionnaires d'organisation :</div>
      <ul>
        <% if @user.organization.all_managers.each do |manager| %>
          <li>
            <%= link_to_user manager %> (<%= link_to_organization(manager.organization) %>)
          </li>
        <% end.empty? %>
          Cet utilisateur n'a aucun gestionnaire d'organisation
        <% end %>
      </ul>

      <div style="margin-top: 5px;">Chefs d'équipe :</div>
      <ul>
        <% if @user.organization.all_team_leaders.each do |team_leader| %>
          <li>
            <%= link_to_user team_leader %> (<%= link_to_organization(team_leader.organization) %>)
          </li>
        <% end.empty? %>
          Cet utilisateur n'a aucun chef d'équipe
        <% end %>
      </ul>

    </li>
  </ul>
<% end %>
