<% @o ||= @organization %>
<% roles ||= Role.givable.sorted %>
<% organization_roles = @o.default_roles_by_project(@project) %>
<% selected_members = Member.joins(:user).where("organization_id = ? AND project_id = ?", @o.id, @project.id).select{ |m| m.principal.active? }.uniq %>
<% @back = url_for(:controller=>"projects", :action=>"settings", :id=>@project.id, :tab=>"members") %>

<% if @o %>
  <tr id="orga-<%= @o.id %>" class="even">
    <td class="orga"><%= link_to_organization @o %></td>
    <td id="all_roles">
      <div class='role' style="float: left;">
        <span id="orga-<%= @o.id %>-roles">
          <% if organization_roles.any? %>
            <%= organization_roles.map(&:name).join(", ") %>
          <% else %>
            <span class="undefined"><%= l('undefined') %></span>
          <% end %>
        </span>
      </div>
      <%= form_for(@o, :as => :membership, :remote => true, :method => :put,
                   :url => { :controller => 'organizations', :action => 'update_roles', :project_id => @project.id, :organization_id => @o.id },
                   :html => { :id => "orga-#{@o.id}-roles-form", :class => 'hol' }) do |f| -%>
      <div class='roles_checkboxes' style="float: left;">
        <p><% roles.each do |role| %>
            <label><%= check_box_tag 'membership[role_ids][]', role.id, organization_roles.include?(role) %> <%=h role %></label><br />
          <% end %></p>
        <%= hidden_field_tag 'membership[role_ids][]', '' %>
      </div>
      <div style="float: left;">
        <p><% @o.users.active.sort_by(&:to_s).each do |user| %>
            <label><%= check_box_tag 'membership[user_ids][]', user.id, selected_members.map{|m| m.principal}.include?(user) %> <%=h user %></label><br />
          <% end %></p>
        <%= hidden_field_tag 'membership[user_ids][]', '' %>
        <p><%= submit_tag l(:button_change), :class => "small" %>
          <%= link_to_function l(:button_cancel), "toggleOrgaForms(#{@o.id}, 'orga'); return false;" %></p>
      </div>
      <% end -%>
    </td>
    <td class="buttons">
      <%= link_to_function(l(:button_edit), "toggleOrgaForms(#{@o.id}, 'orga'); return false;",
                           :class => 'icon icon-edit') %>
      <%= link_to(l(:button_delete),
                  {:controller => 'organizations', :action => 'destroy_membership_in_project', :project_id => @project.id, :organization_id => @o.id, :back_url => @back},
                  :method => :delete, :class => 'icon icon-del', :title => l(:label_relation_delete)) %>
    </td>
  </tr>

  <% selected_members.each do |member| %>
    <%= render :partial => 'projects/settings/members_user',
               :locals => {:member => member,
                           :roles => roles,
                           :organization_roles => organization_roles} %>
  <% end %>

<% end %>
