<% roles = Role.find_all_givable -%>

<div class="box">

<div class="contextual">
  <%= toggle_link l(:button_add), 'organization-form', {:focus => 'membership_organization_id'} %>
</div>

<h3><%= l(:label_organization_plural) %></h3>

<% if @project.organization_memberships.any? %>
<table class="list organizations">
  <thead><tr>
    <th><%= l(:label_organization) %></th>
    <th><%= l(:label_role_plural) %></th>
    <th><%= l(:label_user_plural) %></th>
    <th style="width:15%"> </th>
  </tr></thead>
  <tbody>
  <% @project.organization_memberships.all(:include => [:organization, :roles]).each do |m| %>
    <tr id="orga-<%= m.id %>">
      <%= render :partial => 'projects/settings/members_organization', :locals => {:m => m, :roles => roles} %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<%= form_for :membership, :url => { :controller => 'organization_memberships', :action => 'create_in_project', :project_id => @project },
             :remote => true, :html => {:id => 'organization-form', :style => 'display:none;'} do |f| -%>
  <p>
    <%= hidden_field_tag "membership[project_id]", @project.id %>
    <%= f.select "organization_id", nested_set_options(Organization) { |i| "#{'--' * i.level} #{i.name}" }, 
                 :disabled => @project.organizations.map(&:id), :include_blank => true, :label => :field_parent_organization %>
    <% roles.each do |role| %>
      <label><%= check_box_tag 'membership[role_ids][]', role.id %> <%=h role %></label>
    <% end %>
    <%= submit_tag l(:button_save) %>
  </p>
<% end -%>

</div>
