<% members = @project.memberships.joins(:user).includes(:user => [:organization]).active.sorted
  members_per_organization = {}
  members.each { |member|
    members_per_organization[member.principal.organization] ||= []
    members_per_organization[member.principal.organization] << member }
    members_per_organization = members_per_organization.sort_by{|k,v|k.try(:fullname).to_s} %>

<p><%= link_to l(:label_member_new), new_project_membership_path(@project), :remote => true, :class => "icon icon-add" %></p>

<% if members.any? %>
  <table class="list members organizations">
    <thead>
    <tr>
      <th><%= l(:label_organization) %> / <%= l(:label_user) %></th>
      <th class="roles"><%= l(:label_role_plural) %></th>
      <th></th>
      <th style="width:15%"></th>
    </tr>
    </thead>
    <tbody>
      <% members_per_organization.each do |organization, members| %>
        <% if organization.present? %>
          <tr id="organization-<%= organization.id %>" class="organization">
            <td class="name icon icon-group"><%= link_to_organization organization %></td>
            <td id="organization-<%= organization.id %>-form"
                colspan="<%= Redmine::Plugin.installed?(:redmine_limited_visibility) ? "3" : "2" %>"
                class="hidden form">
            </td>
            <td class="roles">
              <% organization_roles = organization.default_roles_by_project(@project) %>
              <% if organization_roles.any? %>
                <%= organization_roles.collect(&:to_s).join(', ') %>
              <% else %>
                <span class="undefined"><%= l('undefined') %></span>
              <% end %>
              <div id="organization-<%= organization.id %>-form"></div>
            </td>
            <td class="users">
              <div id="organization-<%= organization.id %>-users-form"></div>
            </td>
            <td class="buttons">
              <%= link_to l(:button_edit),
                          edit_organizations_membership_path(id: organization.id, project_id: @project.id),
                          :remote => true,
                          :class => 'icon icon-edit' %>
            </td>
          </tr>
        <% end %>
        <% members.each do |member| %>
          <% next if member.new_record? %>
          <tr id="member-<%= member.id %>" class="member">
            <td class="name icon icon-<%= member.principal.class.name.downcase %>"><%= link_to_user member.principal %></td>
            <td id="member-<%= member.id %>-form"
                colspan="<%= Redmine::Plugin.installed?(:redmine_limited_visibility) ? "3" : "2" %>"
                class="hidden form">
            </td>
            <td class="roles">
              <%= member.roles.collect(&:to_s).join(', ') %>
            </td>
            <td class="users"></td>
            <td class="buttons">
              <%= link_to l(:button_edit),
                          edit_membership_path(member),
                          :remote => true,
                          :class => 'icon icon-edit' %>
              <%= delete_link membership_path(member),
                              :remote => true,
                              :data => (!User.current.admin? && member.include?(User.current) ? {:confirm => l(:text_own_membership_delete_confirmation)} : {}) if member.deletable? %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<div style="margin-top: 10px;border: 1px lightgrey solid;padding: 10px;">
  <h3><%= l(:label_group_non_member) %></h3>
  <table class="list non-members organizations">
    <thead>
      <tr>
        <th class="organization"><%= l(:label_group_plural) %></th>
        <th class="role"><%= l(:label_role_plural) %></th>
        <th class="buttons"></th>
    </tr>
    </thead>
    <tbody>
      <%= render :partial => 'projects/settings/non_member_groups' %>
    </tbody>
  </table>
</div>
