<p><%= l('hello', user: @user.firstname) %></p>

<p>
  <%= l('mail_notification_team_leader_1', author: @author, organization: @organization.fullname) %>
</p>
<p>
  <%= l('mail_notification_team_leader_2') %>
</p>
<p>
  <%= l('mail_notification_team_leader_3', url: edit_organization_url(@organization)) %>
</p>

<p>
  <%= Setting.app_title %><br/>
  <%= l(:field_user) %>: <strong><%= @author.login %></strong><br/>
  <%= l(:label_date) %>: <strong><%= format_time Time.now, true %></strong>
</p>
