<p><%= t('hello', user: @user.firstname) %></p>

<p>
  <%= t('mail_notification_1', author: @author, organization: @organization.fullname) %>
</p>
<p>
  <%= t('mail_notification_2') %>
</p>
<p>
  <%= t('mail_notification_3', url: edit_organization_url(@organization)) %>
</p>

<p>
  <%= Setting.app_title %><br/>
  <%= t(:field_user) %>: <strong><%= @author.login %></strong><br/>
  <%= t(:label_date) %>: <strong><%= format_time Time.now, true %></strong>
</p>
