<p><%= t('hello', user: @user.firstname) %></p>

<p>
  <%= t('mail_notification_removed_team_leader_role', author: @author, organization: @organization.fullname) %>
</p>

<p>
  <%= Setting.app_title %><br/>
  <%= t(:field_user) %>: <strong><%= @author.login %></strong><br/>
  <%= t(:label_date) %>: <strong><%= format_time Time.now, true %></strong>
</p>
