<% all_projects = Project.active.order('lft') %>
<% current_projects = @organization.projects.active %>
<% current_notified_projects = @organization.notified_projects %>

<div class="splitcontentleft">
  <% if @organization.memberships.any? %>
    <table class="list memberships">
      <thead>
      <tr>
        <th><%= t(:label_project) %></th>
        <th><%= t(:label_role_plural) %></th>
        <!-- <th><%= t(:label_notifications) %></th> -->
      </tr>
      </thead>
      <tbody>
      <%= form_for :notifications, url: organizations_notification_path(@organization, format: :js), :method => :patch, remote: true do |f| %>
        <%= hidden_field_tag '_method', 'patch' %>
        <% current_projects.each do |project| %>
          <% next if project.blank? %>
          <tr id="member-<%= project.id %>" class="<%= cycle 'odd', 'even' %> class">
            <td class="project">
              <%= link_to_if project.active?, project, project %>
              <%= content_tag(:em, "(#{t(:project_status_archived)})", :class => "info", :style => "display:inline") unless project.active? %>
            </td>
            <td class="roles">
              <span class="member-<%= project.id %>-roles"><%= h @organization.roles_by_project(project).sort.collect(&:to_s).join(', ') %></span>
            </td>
            <!--
            <td class="notifications">
              <%= check_box_tag 'projects[]', project.id, current_notified_projects.include?(project),
                                :id => "notifications_project_#{project.id}", class: "notifications_projects" %>
            </td>
            -->
          </tr>
        <% end %>
      <% end %>
      <!--
      <tr>
        <td></td>
        <td></td>
        <td><%= button_tag "Enregistrer", id: "submit_notifications" %></td>
      </tr>
      -->
      </tbody>
      <% reset_cycle %>
    </table>
  <% else %>
    <p class="nodata"><%= t(:label_no_data) %></p>
  <% end %>
</div>

<div class="splitcontentright">
  <% if all_projects.any? && User.current.admin? %>
    <fieldset>
      <legend><%= t(:label_project_new) %></legend>
      <%= form_for(:membership, :remote => true) do %>
        <% options = ("<option value=''>--- #{t(:actionview_instancetag_blank_option)} ---</option>").html_safe %>
        <% options << project_tree_options_for_select(all_projects) {|p| {:value => settings_project_path(p, :tab => 'members'), :disabled => (current_projects.include?(p))}} %>
        <%= select_tag 'project_box', options, :onchange => 'if (this.value != \'\') { window.location = this.value; }' %>
      <% end %>
    </fieldset>
  <% end %>
</div>
