<% all_projects = Project.active.find(:all, :order => 'lft') %>
<% current_projects = @organization.projects.active %>

<div class="splitcontentleft">
<% if @organization.memberships.any? %>
<table class="list memberships">
	<thead><tr>
	  <th><%= l(:label_project) %></th>
	  <th><%= l(:label_role_plural) %></th>
	</tr></thead>
	<tbody>
	<% current_projects.each do |project| %>
    <% next if project.blank? %>
    <tr id="member-<%= project.id %>" class="<%= cycle 'odd', 'even' %> class">
      <td class="project">
        <%=link_to_if project.active?, project, project %>
        <%= content_tag(:em, "(#{l(:project_status_archived)})", :class=>"info", :style=>"display:inline") unless project.active? %>
      </td>
      <td class="roles">
        <span id="member-<%= project.id %>-roles"><%=h @organization.roles_by_project(project).sort.collect(&:to_s).join(', ') %></span>
      </td>
    </tr>
  <% end %>
  </tbody>
<% reset_cycle %>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>

<div class="splitcontentright">
  <% if all_projects.any? %>
    <fieldset>
      <legend><%=l(:label_project_new)%></legend>
      <%= form_for(:membership, :remote => true) do %>
        <% options = ("<option value=''>--- #{l(:actionview_instancetag_blank_option)} ---</option>").html_safe %>
        <% options << project_tree_options_for_select(all_projects) { |p| { :value => project_path(:id => p, :jump => 'settings'), :disabled => (current_projects.include?(p)) } } %>
        <%= select_tag 'project_box', options, :onchange => 'if (this.value != \'\') { window.location = this.value; }' %>
      <% end %>
    </fieldset>
  <% end %>
</div>
