<div class="contextual">
  <%= link_to l(:label_organization_new), {:controller=>'organizations',:action=>'new'},
      :class => 'icon icon-add' %>
</div>

<h2><%= link_to l(:label_organization_plural), {:controller => 'organizations', :action => 'index'} %></h2>

<% if @organizations.any? -%>
<table class="list">		
  <thead>
    <tr>
            <th><%= l(:field_name)%></th>
            <th><%= l(:field_description)%></th>
            <th><%= l(:field_parent_organization)%></th>
            <th> </th>
    </tr>
  </thead>
  <tbody>
  <% @organizations.each do |organization| -%>
    <tr class="organization <%= cycle("odd", "even") %> <%= organization.level > 0 ? "idnt idnt-#{organization.level}" : nil %>">
      <td class="name"><%= link_to h(organization.name), {:controller => 'organizations', :action => 'show', :id => organization} %></td>
      <td class="description"><%=h organization.description %></td>
      <td class="buttons">
        <%= link_to l(:button_update), {:controller => 'organizations', :action => 'edit', :id => organization},
            :class => 'icon icon-edit' %>
        <%= link_to l(:button_delete), {:controller => 'organizations', :action => 'destroy', :id => organization},
            :class => 'icon icon-del', :confirm => l(:text_are_you_sure), :method => :delete %>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>

<% else -%>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end -%>

<% html_title(l(:label_organization_plural)) -%>
