<div class="contextual">
  <% if User.current.is_admin_or_instance_manager? || @managed_organizations.present? %>
    <%= link_to l(:label_organization_new), { :controller => 'organizations', :action => 'new' },
                :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%= l(:label_organizations_ldap_sync) %></h2>

<table class="list attributes ldap-sync all-organizations">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Statut LDAP</th>
    <th class=left style="width:270px">
      <%= l(:field_name) %><br>
      <input type=text name=filter-by-name id=filter-by-org-name class=filter>
    </th>
    <th><%= l(:field_description) %></th>
    <th><%= l(:field_users) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% Organization.each_with_level(@organizations) do |organization, level| %>
    <tr class="organization <%= level > 0 ? "idnt idnt-#{level}" : nil %> <%= organization.direction? ? "direction" : "" %>">
      <td><%= button_to "", { action: "ldap_sync_check_status",
                              controller: "organizations",
                              method: :post,
                              params: { organization_id: organization.id } },
                        remote: true,
                        title: "Synchroniser l'organisation",
                        :class => 'icon icon-sync' if @synchronizable_organizations.include?(organization) %></td>
      <td><%= button_to "", { action: "ldap_sync_check_status",
                                                         controller: "organizations",
                                                         method: :post,
                                                         params: { organization_id: organization.id, with_members: true } },
                        remote: true,
                        title: "Synchroniser les membres",
                        :class => 'icon icon-group' if @synchronizable_organizations.include?(organization) %></td>
      <td>
        <%= content_tag(:span, "", class: "ldap_sync_orga green") if @synchronized_organizations.include?(organization.name_with_parents) %>
      </td>
      <td class="name" data-filter-value="<%= organization.fullname %>">
        <%= link_to h(organization.name), { :controller => 'organizations', :action => 'show', :id => organization.identifier } %>
      </td>
      <td class="description"><%= h organization.description %></td>
      <% nb_users = organization.users.size %>
      <td class="users <%= "zero" if nb_users == 0 && organization.descendants.empty? %>">
        <%= nb_users %>
      </td>
      <td class="buttons">
        <% if User.current.is_admin_or_instance_manager? %>
          <%# link_to l(:button_update), { :controller => 'organizations', :action => 'edit', :id => organization.identifier },
                      :class => 'icon icon-edit' %>
          <%= link_to l(:button_delete), { :controller => 'organizations', :action => 'destroy', :id => organization.identifier },
                      :class => 'icon icon-del', :data => { :confirm => l(:text_are_you_sure) }, :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @unknown_organizations.any? %>
  <fieldset id="unknown_organizations_fieldset">
    <h3><%= l(:missing_organizations) %></h3>

    <%= button_to l(:add_all), add_all_organizations_from_ldap_organizations_path %>

    <ul class="unknown_organizations">
      <% @unknown_organizations.each do |unknown_orga| %>
        <li>
          <%= content_tag(:span, "", class: "ldap_sync_orga red") %>
          <%= content_tag(:span, unknown_orga, class: "unknown_orga") %>
          <%= link_to add_organization_from_ldap_organizations_path(fullpath: unknown_orga) do %>
            <%= content_tag(:span, "", class: "icon icon-add") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </fieldset>
<% end %>

<% html_title(l(:label_organization_plural)) %>

<%= javascript_tag do %>
  $(function() {
  $('table.all-organizations').on('submit', 'form', function() {
  $('#ajax-modal').html('<p>Chargement en cours</p>');
  showModal('ajax-modal', '70%');
  });
  });
<% end %>
