<div class="contextual">
  <%= link_to(l(:button_update),
              {:controller => 'organizations', :action => 'edit', :id => @organization},
              :class => 'icon icon-edit') if User.current.admin? || User.current.is_a_manager?(@organization) %>
  <%= link_to(l(:button_delete),
              {:controller => 'organizations', :action => 'destroy', :id => @organization},
              :class => 'icon icon-del',
              :data => { :confirm => l(:text_are_you_sure) },
              :method => :delete) if User.current.admin? %>
</div>

<h2><%= link_to l(:label_organization_plural), organizations_path %> &#187; <%=link_to_organization @organization%></h2>

<p><em><%=textilizable @organization.description %></em></p>

<div class="splitcontentleft organization">
<h3><%=l(:label_project_plural)%></h3>
<ul class=root>
  <li class=selected-organization>
    <%= link_to_organization @organization, :link_ancestors => false %>
    <% if @projects.any? %>
    <ul>
      <% for project in @projects %>
        <li><%= link_to_organization_membership(project, @organization.roles_by_project(project)) %></li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <% @subprojects_by_organization.keys.sort_by(&:fullname).each do |suborganization| %>
    <% subprojects = @subprojects_by_organization[suborganization] %>
    <li>
      <%= link_to_organization suborganization, :link_ancestors => false %>
      <% if subprojects.any? %>
        <ul>
          <% for project in subprojects %>
            <li><%= link_to_organization_membership(project, suborganization.roles_by_project(project)) %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
  <% if @projects_not_active.any? %>
    <li class="selected-organization">
      <%= l(:project_status_archived).capitalize %>:
      <ul>
        <% for project in @projects_not_active %>
          <li><%= link_to_organization_membership(project, @organization.roles_by_project(project)) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h3><%= "#{ l(:label_user_plural)} (#{@subusers_count})" %></h3>
<ul class=root>
  <li class=selected-organization>
    <%= link_to_organization @organization, :link_ancestors => false %>
    <%= "(#{@users.count}) :" if @users.any? %>
    <%= @users.map{|u| link_to_user(u).html_safe }.join(", ").html_safe %>
  </li>
<% @subusers.keys.sort_by(&:fullname).each do |suborganization| %>
  <% users = @subusers[suborganization] %>
  <li>
    <%= link_to_organization suborganization, :link_ancestors => false %>
    <%= "(#{users.count}) :" if users.any? %>
    <%= users.map{|u| link_to_user(u) }.join(", ").html_safe %>
  </li>
<% end %>
</ul>

<%= call_hook :view_organization_left_bottom, :organization => @organization %>
</div>

<div class="splitcontentright organization">

<% unless @events_by_day.empty? %>
<h3><%= link_to l(:label_activity), :controller => 'projects', :action => 'activity', :id => nil, :organization_id => @organization, :from => @events_by_day.keys.first %></h3>

<p>
<%=l(:label_reported_issues)%>: <%= Issue.where(:author_id => @organization.users.map(&:id)).count %>
</p>

<div id="activity">
<% @events_by_day.keys.sort.reverse.each do |day| %>
<h4><%= format_activity_day(day) %></h4>
<dl>
<% @events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
  <dt class="<%= e.event_type %>">
  <span class="time"><%= format_time(e.event_datetime, false) %></span>
  <%= content_tag('span', h(e.project), :class => 'project') %>
  <%= link_to format_activity_title(e.event_title), e.event_url %></dt>
  <dd><span class="description"><%= format_activity_description(e.event_description) %></span></dd>
<% end -%>
</dl>
<% end -%>
</div>

<% end %>
<%= call_hook :view_account_right_bottom, :organization => @organization %>

<% if @issues.any? %>
  <h3><%= l(:label_issue_plural) %></h3>
  <%= render :partial => 'issues/list_simple', :locals => {:issues => @issues} %>
<% end %>

</div>

<% html_title(l(:label_organization_plural)) -%>
