<div class="contextual">
  <%= link_to(l(:button_update),
              {:controller => 'organizations', :action => 'edit', :id => @organization.identifier},
              :class => 'icon icon-edit') if User.current.is_admin_or_manage?(@organization) %>
  <%= link_to(l(:button_delete),
              {:controller => 'organizations', :action => 'destroy', :id => @organization.identifier},
              :class => 'icon icon-del',
              :data => {:confirm => l(:text_are_you_sure)},
              :method => :delete) if User.current.is_admin_or_instance_manager? %>
</div>

<h2><%= link_to l(:label_organization_plural), organizations_path %> &#187; <%= link_to_organization @organization %></h2>

<div class="organization">

  <p class="description">
    <%= @organization.description %>
  </p>

  <%= render_organization_tabs %>

</div>

<% html_title(l(:label_organization_plural)) -%>
