<div class="contextual">
  <%= link_to(t(:button_update),
              {:controller => 'organizations', :action => 'edit', :id => @organization.id},
              :class => 'icon icon-edit') if User.current.is_admin_or_manage?(@organization) %>
  <%= link_to(t(:button_delete),
              {:controller => 'organizations', :action => 'destroy', :id => @organization.id},
              :class => 'icon icon-del',
              :data => {:confirm => t(:text_are_you_sure)},
              :method => :delete) if User.current.admin? %>
</div>

<h2><%= link_to t(:label_organization_plural), organizations_path %> &#187; <%= link_to_organization @organization %></h2>

<div class="organization">

  <p class="description">
    <%= @organization.description %>
  </p>

  <%= render_organization_tabs %>

</div>

<% html_title(t(:label_organization_plural)) -%>
