<% organization_roles = @member.principal.organization ? @member.principal.organization.default_roles_by_project(@project) : []  %>
<%= form_for(@member, :url => membership_path(@member),
                      :as => :membership,
                      :remote => request.xhr?,
                      :method => :put) do |f| %>
  <p>
    <% @roles.each do |role| %>
    <label>

      <% ### START PATCH ### %>
      <%= check_box_tag('membership[role_ids][]',
                        role.id, @member.roles.to_a.include?(role),
                        :id => nil,
                        :disabled => !@member.role_editable?(role) || organization_roles.detect {|r| r.id == role.id} ) %> <%= role %>
      <% ### END PATCH ### %>

    </label><br />
    <% end %>
  </p>
  <%= hidden_field_tag 'membership[role_ids][]', '', :id => nil %>
  <p>
    <%= submit_tag l(:button_save), :class => "small" %>
    <%= link_to_function l(:button_cancel),
                         "$('.member-#{@member.id}-roles').show();
                         $('#member-#{@member.id}-form').empty();
                         $('#member-#{@member.id}-visibility-form').empty();
                         return false;" if request.xhr? %>
  </p>
<% end %>
